$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;

}

nav {
  display: flex;
  margin-left: 0;
  height: 32px;
  width: 100vw;
  background-color: darkred;
}

#search-bar {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  padding: 2px;

  input {
    font-size: 5em;
    border-radius: .25em;
    background-color: white;
  }
}


#video-section {
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 10px;
    color: black;
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }
}

.video-detail .details {
  box-shadow: 5px 5px 5px #d6d6d6;
  :first-child {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  :not(:first-child) {
    color: rgb(10,150,150);
    padding-bottom: 10px;
  }

}
